<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="/static/css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="/static/img/logo.png" alt="logo">
            </div>

            <nav>
                <a href="/wiki">Main Page</a>
                <a href="/wiki/articles">All Articles</a>
                <form action="/wiki/search" method="GET">
                    <input type="text" name="title">
                    <input type="submit" value="Search">
                </form>
                {{#if user}}
                <a href="/wiki/add">Create New Article</a>
                {{/if}}
            </nav>
        </aside>
        <div id="container">
            <header>
                {{#if user}}
                <span>Welcome, {{user.username}}!</span>
                <a href="/auth/logout">[Logout]</a>
                {{else}}
                <a href="/auth/login">Login</a>
                <a href="/auth/register">Register</a>
                {{/if}}
            </header>
            {{#if errors}}
            <section id="notifications">
            {{#each errors}}
                <p>{{this}}</p>
            {{/each}}
            </section>
            {{/if}}
            <main>
                <h1>Welcome to SoftUni Wiki!</h1>
                {{{body}}}
            </main>

            <footer>
                SoftUni Wiki &copy; 2018 - 2019
            </footer>
        </div>
    </div>
</body>

</html>