<form action="/user/login" method="POST">
    <h2>Login</h2>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Username" value="{{data.username}}">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Password">
    </div>

    <button class="btn" type="submit">Login</button>
</form>