<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JDM Imports</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Our Home</a>
            <a href="/brands">Brands</a>
            <a href="/create">Create ad</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>

    <main>

        {{{body}}}

    </main>

    <footer>
        <p>&copy;Created by da.sponge</p>
    </footer>
</body>

</html>